.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color: rgb(255,229,0);
  border: 0;
}

.navbar-nav > li > a {
  color : rgb(0,111,62);
  font-size: 1.8em !important;
}

.icon-bar
{
    background-color: green;
}

.active a {
	background-color: rgb(251,214,1) !important;
}

.sidenav {
  height: auto;
  width: 0;
  position: fixed;
  left: 0;
  background-color: rgb(255,229,0);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: green;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

footer {
  background-color: rgb(247,200,2);
  color: black;
  padding: 15px;
}

.content {
  background-color: rgb(251,214,1);
  color : rgb(0,111,62);
}

.text-main {
  margin-left:10px;
  margin-right:10px;
}
